<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/static/css/cstFonts/iconfont.css" />
		<!--vue component css-->
		<link rel="stylesheet" type="text/css" href="/static/css/vue-admin.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
	</head>
	<body class="test">
		<h1>admin</h1>
		<ul class="list-group">
			{% for item in  items%}
			<li class="list-group-item">{{item.title}}</li>
			{% endfor%}
				
		</ul>
		 <button class="btn btn-default">btn</button>
		<div id="app">
		</div>
		<script data-parent="umd" data-umd="test" src="/static/js/admin.js" type="text/javascript" charset="utf-8"></script>
		</script>
	</body>
</html>

